<!DOCTYPE html>
<html lang="en" dir="ltr">
{% extends "base.html" %}
{% block style %}

{% endblock%}

{% block body %}
<center>
  <header style="color:White">
    <p style="font-size:50px">Statistics</p>
  </header>
  <p style="color:White;font-size:35px">Total to Gaylords to Process: {{ tgtp }}</p>
  <p style="color:White;font-size:35px">Total to Totes to Process: {{ tttp }}</p>
  <p style="color:White;font-size:35px">Total to Review for Submission: {{ ttr }}</p>
  <p style="color:White;font-size:35px">Total Ready for Logging: {{ trfl }}</p>
  <p style="color:green;font-size:40px">Collectables </p>
  <p style="color:green;font-size:30px">Total to Gaylords to Process: {{ sgwTGTP }}</p>
  <p style="color:green;font-size:30px">Total to Totes to Process: {{ sgwTTTP }}</p>
  <p style="color:green;font-size:30px">Total to Review: {{ sgwTTR }} </p>
  <p style="color:green;font-size:30px">Total Ready for Logging: {{ sgwTRFL }}</p>
  <p style="color:#f0cc00;font-size:40px">Jewelry</p>
  <p style="color:#f0cc00;font-size:30px">Total Gaylords to Process: {{jewlTGTP}} </p>
  <p style="color:#f0cc00;font-size:30px">Total Totes to Process: {{jewlTTTP}} </p>
  <p style="color:#f0cc00;font-size:30px">Total to Review: {{ jewlTTR }}</p>
  <p style="color:#f0cc00;font-size:30px">Total Ready for Logging: {{jewlTRFL}}</p>
  <p style="color:Blue;font-size:40px">Books </p>
  <p style="color:Blue;font-size:30px">Total Gaylords to Process: {{bookTGTP}}</p>
  <p style="color:Blue;font-size:30px">Total Totes to Process: {{bookTTTP}}</p>
  <p style="color:Blue;font-size:30px">Total to Review: {{bookTTR}} </p>
  <p style="color:Blue;font-size:30px">Total Ready for Logging: {{bookTRFL}}</p>
  <p style="color:yellow;font-size:40px">Media </p>
  <p style="color:yellow;font-size:30px">Total Gaylords to Process: {{medTGTP}}</p>
    <p style="color:yellow;font-size:30px">Total Totes to Process: {{medTTTP}}</p>
  <p style="color:yellow;font-size:30px">Total to Review: {{medTTR}}</p>
  <p style="color:yellow;font-size:30px">Total Ready for Logging: {{medTRFL}} </p>
</center>

{% endblock %}




</html>
