{% extends "base.html" %}

{% block body %}
<center>
  <h1 style="font-size:40px;color:white">Total Number of {{ type }}: {{ total }}</h1>
  <form class="" action="/jewl_rev" method="get">
    <div class="" style="padding-top:15px">
      <input style="" class="btn btn-primary" type="submit" value="Review">
    </div>

  </form>
</center>

{% for post in data %}

  <center>


    <div class="invscontainer">
      <div class="card">
        <div class="card-header">
          <form class="" action="/jewl_data" method="post" name="">
          <input type="hidden" name="summited" value="yes"></input>
          <input type="hidden" name="ID" value="{{ post._id }}"></input>
          <p style="font-size:25px" name='hello' >Storage Type: {{ post.Storage_Type }}</p>
          <input type="hidden" name="STORAGE" value="{{ post.Storage_Type }}"></input>
          <div class="card-body">
            <h5 class="card-title">Contents: {{ post.Contents }}</h5>
            <input type="hidden" name="CONTENTS" value="{{ post.Contents}}"></input>
            <h5 class="card-title">
              <input type="hidden" name="DATE_RECEIVED" value="{{ post.Date_Received }}"></input>
              <label for="" style="" id="" >Date Received: {{ post.Date_Received }}
              </label>
              <input type="hidden" name="STORE_NUMBER" value="{{ post.Store_Number }}"></input>
              <p>Store Number: {{post.Store_Number}}</p>
            </h5>
            <div class="form-group" style="font-size:25px">
              <label for=""> Seal Number </label>
              <textarea class="form-control" id="" rows="1" name="seal_number_form"></textarea>
            </div>
            <div class="invscontainer">
              <div class="form-group">
                <label for=""style="font-size:20px;color:blackk">Processed By</label>
                  <select class="form-control" id="storage_type" name="processed_by">
                    <option></option>
                    <option>Mattie</option>
                    <option>Elizabeth</option>
                    <option>Renae</option>
                  </select>
              </div>
            </div>

            <div class="form-group">
              <label for=""> Manifest Number </label>
              <textarea class="form-control" id="" rows="1" name="manifest_number_form"></textarea>
            </div>

            <div class="form-group">
              <label for=""> Problems </label>
              <textarea class="form-control" id="" rows="3" name="problem_form">{{ post.Problems }}</textarea>
            </div>
          </div>
            <input class="btn btn-primary" type="submit" value="Process">
          <p class="card-text"></p>
          </form>
        </div>


      </div>
    </div>



  </center>

{% endfor %}

{% endblock %}
