{% extends "base.html" %}

{% block body %}
<center>

  <form class="" action="/" method="get">
    <div class="" style="padding-top:15px">
      <input style="" class="btn btn-primary" type="submit" value="Back to Main">
    </div>

  </form>
</center>



  <center>
    <form class="" action="/jewl_rev" method="post">

    {% for post in data %}
    <div class="invscontainer">
      <div class="card">
        <div class="card-header">
          <form class="" action="/jewl_data" method="post" name="">
          <input type="hidden" name="summited" value="yes"></input>
          <input type="hidden" name="ID" value="{{ post._id }}"></input>
          <p style="font-size:25px" name='hello' >Storage Type: {{ post.Storage_Type }}</p>
          <input type="hidden" name="STORAGE" value="{{ post.Storage_Type }}"></input>
          <div class="card-body">
            <h5 class="card-title">Contents: {{ post.Contents }}</h5>
            <input type="hidden" name="CONTENTS" value="{{ post.Contents}}"></input>
            <h5 class="card-title">
              <input type="hidden" name="DATE_RECEIVED" value="{{ post.Date_Received }}"></input>
              <label for="" style="" id="" >Date Received: {{ post.Date_Received }}
              </label>
              <input type="hidden" name="STORE_NUMBER" value="{{ post.Store_Number }}"></input>
              <p>Store Number: {{post.Store_Number}}</p>
              <input type="hidden" name="manifest_number_form" value="{{ post.MANIFEST_NUMBER }}"></input>
              <label for="" style="" id="" >Manifest Number: {{ post.MANIFEST_NUMBER }} </label>
              <div class="">
                <input type="hidden" name="seal_number_form" value="{{ post.Seal_Number }}"></input>
                <label for="" style="" id="" >Seal Number: {{ post.Seal_Number }} </label>
              </div>


              <input type="hidden" name="processed_by" value="{{ post.Processed_By }}"></input>
              <label for="" style="" id="" >Processed by: {{ post.Processed_By }} </label>

            </h5>
            <input type="hidden" name="problem_form" value="{{ post.problem_form }}"></input>
            <label for="" style="font-size:25px"> Problems: {{ post.Problems }}</label>
            <p style=""> </p>
          </div>
          <p class="card-text"></p>
          </form>
        </div>


      </div>
    </div>


{% endfor %}
  </center>



{% endblock %}
