{% extends "base.html" %}

{% block body %}
<center>
  <h1 style="font-size:40px;color:white">Total Number of {{ type }}: {{ total }}</h1>
  <form class="" action="/proc_rev" method="get">

  </form>
</center>

{% for post in data %}

<center>


  <div class="invscontainer">
    <div class="card">
      <div class="card-header">
        <form class="" action="/proc_data" method="post" name="">
          <input type="hidden" name="summited" value="yes"></input>
          <input type="hidden" name="storage_type_1" value="{{ post.Storage_Type }}"></input>
          <input type="hidden" name="ID" value="{{ post._id }}"></input>
          <p style="font-size:25px" name='hello'>Storage Type: {{ post.Storage_Type }}</p>
          <input type="hidden" name="STORAGE" value="{{ post.Storage_Type }}"></input>
          <div class="card-body">
            <h5 class="card-title">Contents: {{ post.Contents }}</h5>
            <input type="hidden" name="CONTENTS" value="{{ post.Contents}}"></input>
            <h5 class="card-title">
              <input type="hidden" name="DATE_RECEIVED" value="{{ post.Date_Received }}"></input>
              <label for="" style="" id="">Date Received: {{ post.Date_Received }}
              </label>
              <input type="hidden" name="STORE_NUMBER" value="{{ post.Store_Number }}"></input>
              <p>Store Number: {{post.Store_Number}}</p>
            </h5>
            <div class="invscontainer">
              <div class="form-group">
                <label for="" style="font-size:20px;color:blackk">Processed By</label>
                <select class="custom-select" name="processed_by" required>
                  <option value="">Please Select Your Name</option>
                  <option value="Alexander">Alexander</option>
                  <option value="Benjamin">Benjamin</option>
                  <option value="Breanna">Breanna</option>
                  <option value="Dianne">Dianne</option>
                  <option value="Elizabeth">Elizabeth</option>
                  <option value="Emily">Emily</option>
                  <option value="Gary">Gary</option>
                  <option value="Jaden">Jaden</option>
                  <option value="Jay">Jay</option>
                  <option value="Jenni">Jenni</option>
                  <option value="jilian">jilian</option>
                  <option value="jillissa">jillissa</option>
                  <option value="joshua">joshua</option>
                  <option value="kara">kara</option>
                  <option value="keisha">keisha</option>
                  <option value="Kimberly">Kimberly</option>
                  <option value="Kristen">Kristen</option>
                  <option value="Kylie">Kylie</option>
                  <option value="LaDonna">LaDonna</option>
                  <option value="Lanny">Lanny</option>
                  <option value="Larisa">Larisa</option>
                  <option value="Liam">Liam</option>
                  <option value="Macoy">Macoy</option>
                  <option value="Malachi">Malachi</option>
                  <option value="Mattison">Mattison</option>
                  <option value="Mattison">Mattison</option>
                  <option value="Mark">Mark</option>
                  <option value="Nathan">Nathan</option>
                  <option value="Oliver">Oliver</option>
                  <option value="Paul">Paul</option>
                  <option value="Renae">Renae</option>
                  <option value="Rhonda">Rhonda</option>
                  <option value="Shanon">Shanon</option>
                  <option value="Shawn">Shawn</option>
                  <option value="Tami">Tami</option>
                  <option value="Tiffany">Tiffany</option>
                  <option value="Traci">Traci</option>
                  <option value="Trent">Trent</option>
                  <option value="Troy">Troy</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for=""> Manifest Number </label>
              <textarea class="form-control" id="" rows="1" name="manifest_number_form"></textarea>
            </div>

            <div class="form-group">
              <label for=""> Problems </label>
              <textarea class="form-control" id="" rows="3" name="problem_form">{{ post.Problems }}</textarea>
            </div>
          </div>
          <input class="btn btn-primary" type="submit" value="Process">
          <p class="card-text"></p>
        </form>
      </div>


    </div>
  </div>



</center>

{% endfor %}

{% endblock %}