{% extends "base.html" %}

{% block body %}
<center>
<header style="color:White">
  <p style="font-size:50px">Data Submitted</p>
</header>


<center>
  <form class="" action="/proc_finished" method="get">
    <div class="" style="padding-top:15px">
      <input style="" class="btn btn-primary" type="submit" value="Submit">
    </div>

  </form>
  <form class="" action="/proc" method="get">
    <div class="" style="padding-top:15px">
      <input style="" class="btn btn-primary" type="submit" value="Back to Processing">
    </div>

  </form>
</center>




</center>
{% endblock %}
