{% extends "base.html" %}

{% block body %}



<form class="" action="/proc_rev" method="post" name="test">
  <center>

    {% for post in data %}
    <div class="invscontainer">
      <div class="card">
        <div class="card-header">
          <p style="font-size:25px" name='hello'>Storage Type: {{ post.Storage_Type }}</p>
          <div class="card-body">
            <h5 class="card-title">Contents: {{ post.Contents }}</h5>
            <h5 class="card-title">
              <label for="" style="">Date Received: {{ post.Date_Received }}
              </label>
              <p>Store Number: {{post.Store_Number}}</p>
            </h5>

            <div class="form-group">
              <label for=""> Manifest Number </label>
              <textarea class="form-control" id="problem_form" rows="1" name="manifest_number_form"></textarea>
            </div>

            <div class="form-group">
              <label for=""> Problems </label>
              <textarea class="form-control" id="problem_form" rows="3" name="problem_form">{{ post.Problems }}</textarea>
            </div>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="check1">
            <label class="form-check-label" for="check1">
              Process
            </label>
          </div>
          <p class="card-text"></p>

        </div>


      </div>
    </div>
    {% endfor %}
    <header style="color:White;padding-top: 15px">
      <input class="btn btn-primary" type="submit" value="Submit">
    </header>

  </center>
</form>


{% endblock %}