{% extends "base.html" %}

{% block body %}
<header style="color:White">
    <p style="font-size:50px">PROC DATA</p>
</header>

{% for post in data %}
<center>

  <form class="" action="" method="post">
    <div class="invscontainer">
      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ post.Storage_Type }}</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
  </form>

</center>
<p>{{post}}</p>
{% endfor %}
{% endblock %}
