<!DOCTYPE html>
<html lang="en" dir="ltr">
{% extends "base.html" %}

{% block body %}

<center>
  <header style="color:White">
      <p style="font-size:50px">Warehour Received Processing </p>
  </header>

  <form class="" action="/rec" method="post">
    <div class="invsquant">
      <div class="form-group">
        <label for="">Quantity</label>
        <textarea class="form-control" id="quant" rows="1" name="quant"></textarea>
      </div>
    </div>

    <div class="invscontainer">
      <div class="form-group">
        <label for="">Storage Type</label>
          <select class="form-control" id="storage_type" name="storage_type">
            <option></option>
            <option>Tote</option>
            <option>Gaylord</option>
            <option>Other</option>
          </select>
      </div>
    </div>

    <div class="invscontainer">
      <div class="form-group">
        <label for="">Store Number</label>
        <select class="form-control" id="store_number" name="store_number">
          <option></option>
          <option>224</option>
          <option>118</option>
        </select>
      </div>
    </div>

    <div class="invscontainer">
      <div class="form-group">
        <label for="">Item Contents</label>
        <select class="form-control" id="item_contents" name="item_contents">
          <option></option>
          <option>Jewelry</option>
          <option>Collectables</option>
          <option>Books</option>
          <option>Media</option>
        </select>
      </div>
    </div>

    <div class="invscontainer">
      <div class="form-group">
        <label for="">Problems</label>
        <textarea class="form-control" id="problem_form" rows="3" name="problem_form"></textarea>
      </div>
    </div>

    <input class="btn btn-primary" type="submit" value="Add">
  </form>
  <form class="" action="/rec_finished" method="post" style="padding-top: 10px">
    <input class="btn btn-primary" type="submit" value="Done">
  </form>

  </center>


{% endblock%}
</html>
